src/main/mule/github-jenkins-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bdf0263f-b153-493f-b1fb-26bcbf0afb4d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-jenkins-projectFlow" doc:id="035cb1c0-3386-4a60-bd70-c790713591ff" >
		<http:listener doc:name="Listener" doc:id="60c36781-ea6e-4dae-bf9d-addccb37b0b7" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<logger level="INFO" doc:name="Logger" doc:id="4da79a59-8e62-4bd0-9b44-6723c416172d" message='"request recieved"'/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="e8135718-bef8-4a90-ba1e-d41938d17414" />
	</flow>
</mule>
